<form action="/edit/{{id}}" method="post">
    <label for="name">
        Name:
        <br>
        <input type="text" id="name" name="name">
    </label>
    <br>
    <label for="drink">
        Drink:
        <br>
        <input type="text" id="drink" name="drink">
    </label>
    <br>
    <label for="milk">
        Milk:
        <br>
        <input type="number" id="milk" name="milk">
    </label>
    <br>
    <label for="sugars">
        Sugars:
        <br>
        <input type="number" id="sugars" name="sugars">
    </label>
    <label for="image">
        Add URL to change profile picture:
        <br>
        <input type="text" id="image" name="image">
    </label>
    <input type="submit" value="Submit">
</form>