@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: rgb(189,214,229);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    box-shadow: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* HEADER */

.header {
    background-image: url(./images/header.jpg);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px black solid;
}

.header h1 {
    background-color: white;
    padding: 10px;
    border: 1px black solid;
}

.header button {
    font-size: 30px;
    border-radius: 5px;
    background-color: rgb(250,25,7);
    color: white;
    border-radius: 5px;
}

#intro {
    background-color: white;
    padding: 10px 20%;
    border-bottom: 1px solid black;
}

/* FEATURES */

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

#features li {
    border: 1px black solid;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    background-color: white;
}

/* GALLERY */

#imageGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    width: 180px;
    height: 200px;
    background-color: white;
    overflow: hidden;
}

div.gallery:hover {
    border: 1px solid black;
}

div.gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-bottom: 1px black solid;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

/* HOMEPAGE INFO */

#homepageInfo {
    background-color: white;
    padding: 10px 20%;
    border-top: 1px black solid;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(189,214,229);
    overflow: hidden;
    border-bottom: 2px black solid;
    position: fixed;
    width: 100%;
    z-index: 10000000;
    font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    color: red;
}