<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <img src='/images/dranks.png' />
    {{{body}}}
  </body>
</html>